.vs
CppProperties.json
CheckAlignmentCMD/CheckAlignmentCMD/x64/Debug/
CheckAlignmentCMD/CheckAlignmentCMD/x64/Release/
alignmentconsistency/alignmentconsistency/x64/Debug/
alignmentconsistency/alignmentconsistency/x64/Release/